html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: antiquewhite;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error{
    font-size: 200px;
    text-shadow: 1px 1px 1px #0D47A1,
    1px 2px 1px #0D47A1,
    1px 3px 1px #0D47A1,
    1px 4px 1px #0D47A1,
    1px 5px 1px #0D47A1,
    1px 6px 1px #0D47A1,
    1px 7px 1px #0D47A1,
    1px 8px 1px #0D47A1,
    1px 9px 1px #0D47A1,
    1px 10px 1px #0D47A1;
    font-weight: 900;
    color: #1565C0;
}

.text{
    font-size: 24px;
    color: #1565C0;
    font-weight: 500;
}

button{
    background-color: #1565C0;
    color: #ffffff;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 15px 10px;
    margin-top: 20px;
}

button:hover{
    background-color: rgba(21, 101, 193, 0.8);
}